* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

ul {
    list-style: none;
}

.header,.main,.footer,.info,.quote,.signup {
    padding: 8px 64px;
}

.header,.main,.footer {
    background-color: #1F2937;
}

.call-to-action,.btn {
    background-color: #3882F6;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: boldw;
}

.links {
    display: flex;
    gap: 16px;
}

.content {

}


.main {

}

.left {

}

.right {

}

.main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.secondary-text,.info-text {
    color: #a5a6a7;
    font-size: 18px;
}

.btn {

}


.info {

}

.title {
    color:#1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.items {

}

.item {

}

.info-text {
}


.quote {
    background-color: #E5E7EB;
}

.quote-text {
    color:#1F2937;
    font-size: 36px;
    font-style: italic;
}

.quote-author {

}


.signup {

}

.call-to-action {

}

.call-to-action.btn {

}

.footer {
    color:#a5a6a7;
    text-align: center;
}



