* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

ul {
    list-style: none;
}

.header,.main,.footer,.signup {
    padding: 8px 80px;
}

.header,.main,.footer {
    background-color: #1F2937;
}

.call-to-action,.btn {
    background-color: #3882F6;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: boldw;
}

.links {
    display: flex;
    gap: 16px;
}

.content {

}

.main {
    display: flex;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.left,.right {
    width: 50%;
    flex: auto;
}

.right {
    background-color: gray;
    text-align: center;
    height: 100px;
    color:#E5E7EB;
}

.main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.secondary-text,.info-text {
    color: #a5a6a7;
    font-size: 18px;
}

.btn {
    color:#F9FAF8;
    border-radius: 4px;
    padding: 4px 16px;
    margin-top: 4px;
    outline: none;
    border: 0;
}

.info,.quote {
    padding: 8px 150px;
}

.info {
    padding-bottom: 80px;
}

.title {
    color:#1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin: 16px;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
}

.item div {
    border:2px solid #3882F6;
    border-radius: 8px;
    height: 100px;
    width: 100px;
}

.item .info-text {
    border: 0;
}


.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
}

.quote-text {
    color:#1F2937;
    font-size: 36px;
    font-style: italic;
}

.quote-author {
    font-size: 20px;
    font-weight: bolder;
    align-self: flex-end;
}


.signup {

}

.call-to-action {

}

.call-to-action.btn {

}

.footer {
    color:#a5a6a7;
    text-align: center;
}



